{% extends 'demand/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container col-8">
    <h1>Новое требование</h1>

    <form action="" method="post" class="">
      {% csrf_token %}

      {{ form|crispy }}

      <a href="{% url 'demand_list' %}" class="btn btn-primary"><span class="icon icon-reply"></span> Назад</a>
      <button type="submit" class="btn btn-success"><span class="icon icon-floppy"></span> Добавить</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      $('.selectmultiple').select2();
    });

    $(document).ready(function() {
      $('.select').select2();
    });
  </script>
{% endblock %}