{% extends 'demand/base.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <p><a href="{% url 'demand_add' %}"><span class="icon icon-list-add"></span> Добавить требование</a></p>

  <table id="dataTable" class="table table-sm table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th></th>
        <th>Наименование</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
      {% for demand in demands %}
        <tr
        {% if demand.get_status_display == 'Завершён' %}
            class="table-success"
        {% elif demand.get_status_display == 'Отложен' %}
            class="table-primary"
        {% elif demand.get_status_display == 'В работе' %}
            class="table-warning"
        {% else %}
            class="table-light"
        {% endif %}
        >
          <td>
            {{ demand.id }}
          </td>
          <td>
            <span class="fas fa-bookmark
             {% if demand.priority == 1 %}
                red
             {% elif demand.priority == 2 %}
                orange
             {% else %}
                gray
             {% endif %}
            "></span>
          </td>
          <td>
            <a href="{{ demand.get_absolute_url }}">{{ demand.title }}</a><br>
            {% for app in demand.for_apps.all %}
              <a href="{% url 'app_filter' app.slug %}"><span class="badge badge-secondary">{{ app.title }}</span></a>
            {% endfor %}
          </td>
          <td>{{ demand.get_status_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {#    DataTables#}
  <script>
    $(document).ready(function() {
      $('#dataTable').DataTable({

        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Все"]],
        "columnDefs": [
          { "orderable": false, "targets": 0 }
        ],
        "order": [[ 3, 'asc' ]],
        language: {
            url: "{%  static 'js/Russian.json' %}"
        }
      } );
    } );
  </script>
{% endblock %}